//==========================================
//  Breakpoints Mixins
//==========================================

@mixin small {
  @media all and (min-width: $small) {
    @content;
  }
}
@mixin medium {
  @media all and (min-width: $medium) {
    @content;
  }
}
@mixin large {
  @media all and (min-width: $large) {
    @content;
  }
}
@mixin extra-large {
  @media all and (min-width: $extra-large) {
    @content;
  }
}

//==========================================
//  Mixins for repeating styles
//==========================================

// Flexbox
@mixin flexbox($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Error Messages
@mixin error-messages-style {
  color: red;
  &__text {
      margin-left: 5px;
  }
}

// To have rounded sides
@mixin rounded-sides {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}