//==========================================
//  Homepage Styles
//==========================================

.home-page {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #f0f2f5;
  &__header {
    width: 100%;
  }
  &__main {
    @include flexbox($direction: column);
  }
}

/* --------- New Post Form ---------- */
.new-post-form {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background-color: $secondary-color;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  @include medium {
    width: 700px;
    border-radius: 5px;
  }
  &__bottom-side {
    @include flexbox($justify: space-between);
    padding: 10px 20px 0 20px;
    border-top: 1px solid $tertiary-color;
  }
  &__top-side {
    padding-bottom: 10px;
    @include flexbox($justify: left, $align: top);
  }
  &__buttons {
    @include flexbox;
  }
  &__post-preview {
    background-color: white;
    margin: 10px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
  }
}

.user-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#post-input {
  background-color: white;
  border: none;
  width: 100%;
  height: 45px;
  padding: 15px;
  margin-left: 15px;
  border-radius: 25px;
  resize: none;
  overflow: hidden;
}
#post-camera-container {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include small-buttons;
  @include flexbox;
  &:hover {
    cursor: pointer;
  }
}

#post-camera {
  font-size: 20px;
  margin-right: 0;
}

.post-buttons {
  width: 100px;
  height: 40px;
  margin-left: 15px;
  font-weight: bold;
  border-radius: 25px;
}

#submit-post {
  background-color: $primary-color;
  color: white;
  border: none;
  @include post-buttons;
}
#submit-post-disabled {
  background-color: $secondary-color;
  color: $tertiary-color;
  border: none;
}
#annul-post {
  background-color: white;
  color: $primary-color;
  border: 1px dashed $tertiary-color;
  @include post-buttons($color: $secondary-color);
}

.post-preview {
  &__top-side {
    height: 70px;
    padding: 10px;
    @include flexbox($justify: space-between);
  }
  &__user-info {
    @include flexbox($justify: left);
  }
  &__user-name {
    font-weight: bold;
    margin-left: 10px;
  }
  &__timestamp {
    font-size: 14px;
    color: $tertiary-color;
  }
  &__bottom-side {
    min-height: 30px;
    margin: 0 10px 10px 10px;
  }
  &__content {
    margin-bottom: 10px;
  }
  &__attached-image-container {
    position: relative;
  }
  &__attached-image {
    display: block;
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}
#attached-image {
  display: none;
}
#remove-attached-image {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid white;
  background-color: $primary-color;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include flexbox;
  color: white;
  &:hover {
    cursor: pointer;
  }
}


/* --------- Post Card ---------- */
.post-card-container {
  width: 100%;
  height: 100%;
  @include flexbox($direction: column);
}
.post-card {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  @include medium {
    width: 700px;
    border-radius: 5px;
  }
  // Loading
  &__loading {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    margin-bottom: 20px;
    color: $primary-color;
    @include flexbox;
    @include medium {
      width: 700px;
      border-radius: 5px;
    }
    .fa-spinner {
      animation: rotation-spinner 1500ms linear infinite;
    }
  }
  // Post Creator Info
  &__post-creator-info {
    position: relative;
    padding-bottom: 10px;
    @include flexbox($justify: space-between, $align: center);
  }
  &__creator {
    @include flexbox($justify: left);
  }
  &__user-name {
    font-weight: bold;
    margin-left: 10px;
  }
  &__timestamp {
    font-size: 14px;
    margin-left: 10px;
    color: $tertiary-color;
  }
  &__menu {
    width: 180px;
    background-color: $secondary-color;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px;
    user-select: none;
    @include flexbox($align: left, $direction: column);
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.25);
    z-index: 2;
  }
  &__menu-button {
    @include flexbox($justify: left);
    height: 32px;
    border: none;
    background-color: transparent;
    @include default-buttons;
  }
  &__menu-icon {
    padding: 0 10px 0 5px;
  }
  .ellipsis-button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    @include flexbox;
    @include ellipsis-buttons;
  }
  // Content to edit
  &__content-to-edit {
    margin-bottom: 15px;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
  }
  &__message-to-edit {
    margin-bottom: 15px;
  }
  &__attached-image-container-to-edit {
    position: relative;
  }
  &__attached-image-to-edit {
    display: block;
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__bottom-side-to-edit {
    @include flexbox($justify: space-between);
    padding: 10px 20px 0 20px;
    border-top: 1px solid $tertiary-color;
  }
  &__buttons-to-edit {
    @include flexbox;
  }

  // Content
  &__content {
    margin-bottom: 20px;
  }
  &__message {
    margin-bottom: 10px;
  }
  &__attached-image-container {
    position: relative;
  }
  &__attached-image {
    display: block;
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  // Counter
  &__counter-container {
    width: 100%;
    @include flexbox($justify: left);
    padding-bottom: 10px;
    font-size: 14px;
  }
  &__counter {
    margin-right: 15px;
    @include flexbox;
  }
  &__icon-container {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    @include flexbox;
    background-color: white;
    color: $primary-color;
  }
  &__counter-value {
    margin-left: 5px;
    font-weight: bold;
  }


  // Buttons Area
  &__buttons-area {
    @include flexbox($justify: space-around);
    width: 100%;
    height: 45px;
    border-top: 1px solid #ced0d4;
    border-bottom: 1px solid #ced0d4;
  }
  &__buttons {
    background-color: transparent;
    border: none;
    font-size: 18px;
    width: 45%;
    height: 40px;
    border-radius: 5px;
    @include default-buttons(lighten($tertiary-color, 61%));
  }
  &__button-name {
    font-size: 16px;
    margin-left: 10px;
  }
}
#post-input-to-edit {
  background-color: white;
  border: none;
  width: 100%;
  height: 45px;
  padding: 15px;
  border-radius: 25px;
  resize: none;
  overflow: hidden;
}
#like-container {
  background-color: $primary-color;
  color: white;
}
#post-camera-container-to-edit {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include small-buttons;
  @include flexbox;
  &:hover {
    cursor: pointer;
  }
}
#post-camera-to-edit {
  font-size: 20px;
  margin-right: 0;
}
#attached-image-to-edit {
  display: none;
}
#submit-post-to-edit {
  background-color: $primary-color;
  color: white;
  border: none;
  @include post-buttons;
}
#submit-post-to-edit-disabled {
  background-color: $secondary-color;
  color: $tertiary-color;
  border: none;
}
#annul-post-to-edit {
  background-color: white;
  color: $primary-color;
  border: 1px dashed $tertiary-color;
  @include post-buttons($color: $secondary-color);
}
#remove-attached-image-to-edit {
  position: absolute;
  top: 10px;
  right: 20px;
  border: 1px solid white;
  background-color: $primary-color;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @include flexbox;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.user-miniature {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}